<section class="part-manufacturer-step" [appLoadingBlock]="saving()" data-testid="part-manufacturer-step">
  <header class="part-manufacturer-step__header">
    <h2 class="part-manufacturer-step__title">{{ 'parts.workflow.manufacturer.title' | translate }}</h2>
    <p class="part-manufacturer-step__hint">{{ 'parts.workflow.manufacturer.hint' | translate }}</p>
  </header>

  <form [formGroup]="form" class="part-manufacturer-step__form">
    <app-input
      [label]="'parts.workflow.manufacturer.manufacturerNameLabel' | translate"
      formControlName="manufacturerName"
      [maxlength]="200"
      data-testid="manufacturer-name" />

    <app-input
      [label]="'parts.workflow.manufacturer.manufacturerPartNumberLabel' | translate"
      formControlName="manufacturerPartNumber"
      [maxlength]="100"
      data-testid="manufacturer-pn" />

    <app-input
      [label]="'parts.workflow.manufacturer.externalPartNumberLabel' | translate"
      formControlName="externalPartNumber"
      [maxlength]="100"
      data-testid="manufacturer-external-part-number" />
  </form>
</section>
