@use 'styles/variables' as *;
@use 'app/features/accounting/accounting-shared' as *;

.acct-startrec {
  &__row {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: $sp-lg;
  }
}
